body {
    background-color: #0A2344;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* Vis altid scrollbar i y-retning */
    overflow-y: scroll;
}

/* Centrér alle h1-elementer (overskrifter) */
h1 {
    text-align: center;
    margin: 40px 0 0 20px;
}

/* Style vores accordion-elementer + vores indledningsblok */
.accordion, .indledning {
    width: 800px;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
}

/* Positionér accordion-elementerne i forhold til hinanden */
.accordion .container {
    position: relative;
    margin: 10px 10px;
}

/* Style titlen for accordionsne */
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.accordion .label::before {
    /* Vis "+" tegn når containeren er åben */
    content: '+';
    /* Juster farve pg placering af titeltekst */
    color: black;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

.accordion .content {
    position: relative;
    background: white;
    font-size: 20px;
    text-align: justify;
    width: 780px;
    overflow: hidden;
    /* Animation når indholdet lukkes */
    max-height: 0;
    transition: max-height 0.25s ease-out;
}

/* Style linjerne mellem accordionsne */
.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}

.accordion .container.active .content {
    /* Man kan ikke animere ting uden en værdi for højden
    (height: auto; duer ikke), så vi sætter den maksimale
    højde af indholdet til et arbitrært højt tal når 
    accordionen åbnes. */
    max-height: 999px;
    transition: max-height 0.5s ease-in;
}

/* Vis "-" tegn når containeren er åben */
.accordion .container.active .label::before {
    content: '-';
    font-size: 45px;
}
